.purple-background {
  background-color: rgb(76, 38, 118);
  width: 100%;
  height: 70px;
}

.code-journal-header {
  color: white;
  font-weight: 600;
  font-size: 35px;
  padding-top: 12px;
  padding-left: 20px;
}

.body-main-header {
  font-size: 35px;
  font-weight: 600;
  padding-top: 12px;
  padding-bottom: 12px;
}

.title-group {
  padding-bottom: 25px;
}

.input-name {
  font-weight: bolder;
}

.input-notes {
  font-weight: bolder;
  margin-top: 10px;
}

.actual-title-input {
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  border-color: rgb(181, 181, 181);
  border-style: solid;
}

.actual-photo-url-input {
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  border-color: rgb(181, 181, 181);
  border-style: solid;
}

.notes-input {
  width: 100%;
  font-size: 20px;
  border-radius: 5px;
  border-color: rgb(181, 181, 181);
  border-style: solid;
}

img {
  width: 100%;
}

.button-container {
  padding-top: 12px;
  justify-content: space-between;
}

.save-button-text {
  color: white;
  background-color: rgb(76, 38, 118);
  border-radius: 5px;
  border-color: rgb(105, 107, 107) black rgb(105, 107, 107) black;
  width: 55px;
  height: 40px;
}

.entries-header {
  color: white;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}

.body-entries-header {
  font-size: 40px;
  font-weight: 900;
  padding-top: 20px;
  justify-content: space-between;
}

.new-button {
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(76, 38, 118);
  height: 35px;
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  list-style: none;
}

.entry-image-title {
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}

.dummy-image {
  border-radius: 5px;
}

.text-spacing {
  padding-top: 25px;
}

.centered-text {
  padding-top: 75px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;
}

.delete-button {
  background-color: white;
  color: red;
  border: none;
  text-decoration: underline;
}

.column-half-delete {
  display: flex;
  justify-content: flex-start;
}

.column-half-save {
  display: flex;
  justify-content: flex-end;
}

.overlay {
  background: rgb(50, 50, 50, 0.65);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.pop-up-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.pop-up-text {
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgba(77, 38, 118, 0.918);
  border-radius: 5px;
  border: 1px solid black;
  width: 300px;
  height: 100px;
  position: absolute;
  margin-top: 200px;
  padding-top: 10px;
  font-family: 'Playfair Display', serif;
  font-weight: bolder;
}

.pop-up-button-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 250px;
}

.pop-up-buttons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  padding: 25px;
}

.delete-button-cancel {
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(94, 90, 90);
  color: white;
}

.delete-button-confirm {
  border-radius: 5px;
  background-color: rgb(115, 131, 201);
  color: white;
}
